<div class="navbar container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid bg-light fixed-top">
      <a routerLink="home" click="loginUser()"
        ><img src="https://assets.ajio.com/static/img/Ajio-Logo.svg" alt=""
      /></a>
      <div class="nav-search">
        <input type="text " placeholder="search product" />
        <button mat-mini-fab color="primary" radius="10">
          <mat-icon> search </mat-icon>
        </button>
      </div>

      <div class="content text-center m-3" [ngSwitch]="menuType">
        <ul class="nav justify-content-end" *ngSwitchCase="'default'">
          <li>
            <button routerLink="seller" mat-button color="primary">
              become A seller
            </button>
          </li>

          <li>
            <button mat-button (click)="handleSigninAction()">Login</button>
          </li>

          <li>
            <button mat-button color="primary">Order</button>
          </li>
          <li>
            <button routerLink="auth" mat-button color="primary">Auth</button>
          </li>

          <li>
            <button mat-button color="primary">More</button>
          </li>
          <li>
            <a>
              <button mat-icon-button>
                <mat-icon> shopping_cart_checkout </mat-icon>
              </button>
            </a>
          </li>
        </ul>
        <ul class="nav justify-content-end" *ngSwitchCase="'user'">
          <li>
            <button routerLink="seller" mat-button color="primary">
              become A seller
            </button>
          </li>

          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              hey,{{ userName | titlecase }}
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">logOut</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </li>
          <li>
            <button mat-button color="primary">Order</button>
          </li>
          <li>
            <button routerLink="auth" mat-button color="primary">Auth</button>
          </li>

          <li>
            <button mat-button color="primary">More</button>
          </li>
          <li>
            <a>
              <button mat-icon-button>
                <mat-icon> shopping_cart_checkout </mat-icon>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
