.navbar {
  padding: 30px;
}
form .form-control {
  width: calc(500px);
}
.navbar img {
  height: 50px;
}
.navbar p {
  margin-top: 20px;
}
.nav-search input {
  height: 50px;
  border: 2px solid black;
  border-radius: 25px;
  outline: none;
  align-items: center;
  text-align: left;
  font-size: 18px;
  justify-content: space-between;
  max-width: 600px;
  width: 400px;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
}
.nav-search button {
  margin-left: -65px;
  top: 5px;
}
.nav button {
  text-align: center;
  top: 3px;
  color: black;
}
.nav button a {
  text-decoration: none;
  color: black;
}
