<footer class="footer m-2 bottom">
  <div class="container" class="text-center p-2">
    <h5>Copyright ©<a href="">Perssist-tech</a></h5>
  </div>
  <div class="btn-wrapper mt-m" class="text-center">
    <button mat-button color="warn" [disabled]="false">Follow</button>
    <a
      mat-button
      href="https://www.nseindia.com/market-data/pre-open-market-cm-and-emerge-market"
      >link</a
    >
  </div>
  <!-- <h2>button</h2>
  <div class="btn-wrapper mt-3">
    <mat-card class="btn-card">
      <h2>shubham</h2>
      <div class="btn-row">
        <button mat-raised-button>submit</button>
      </div>
      <div class="btn-row">
        <button mat-raised-button>submit</button>
      </div>
    </mat-card>
    <mat-card class="btn-card">
      <h2>shubham</h2>
      <div class="btn-row">
        <button mat-raised-button color="accent">submit</button>
      </div>
      <div class="btn-row">
        <button mat-raised-button>submit</button>
      </div>
      <div class="btn-row">
        <button mat-stroked-button>submit</button>
      </div>
      <div class="btn-row">
        <button mat-flat-button color="primary">submit</button>
      </div>
      <div class="btn-row">
        <button mat-icon-button color="primary">
          <mat-icon> arrow_back </mat-icon>
        </button>
      </div>
      <div class="btn-row">
        <button mat-mini-fab color="primary" radius="10">
          <mat-icon> arrow_back </mat-icon>
        </button>
      </div>
    </mat-card>
  </div> -->
</footer>
