/* / */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.signin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
}

h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.password-wrapper {
  position: relative;
}

#togglePassword {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #0069d9;
}
