<mat-nav-list appAccordion>
  <mat-list-item
    appAccordionLink
    *ngFor="let menuitem of menuItem.getMenuItem()"
    routerLinkActive="selected"
    group="{{ menuitem.state }}"
    ><a
      class=""
      appAccordionToggle
      [routerLink]="['/persist/', menuitem.state]"
      *ngIf="
        menuitem.type === 'link' &&
        (menuitem.role === '' || menuitem.role === userRole)
      "
    >
      <div class="outer">
        <div class="button" mat-raised-button>
          <div class="text">{{ menuitem.name }}</div>
        </div>
      </div>
    </a></mat-list-item
  >
</mat-nav-list>
